form {
  margin-top: 30px;
  width: 363px;
  height: 351px;
  padding: 30px 20px;

  border: 2px solid var(--color-grey2);
  border-radius: var(--border1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-container {
}

.form-label {
  color: var(--color-grey4);
}

#description {
  width: 100%;
  height: 53px;
  padding: 10px;

  font-size: var(--font-size125);
  color: var(--color-grey3);
  background-color: var(--color-grey1);
  border: none;
  outline: none;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
}

.description-instruction {
  color: var(--color-grey);
}

.value-container {
  width: 45%;
  display: flex;
  flex-direction: column;
}

#value {
  width: 100%;
  height: 53px;
  padding: 10px;

  font-size: var(--font-size125);
  color: var(--color-grey3);
  background-color: var(--color-grey1);
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.type-container {
  width: 45%;
  display: flex;
  flex-direction: column;
}

#type {
  width: 100%;
  height: 53px;
  padding: 10px;

  border: none;
  outline: none;
  background-color: var(--color-grey1);
}

.submit-value {
  width: 100%;
  height: 48px;

  border: none;
  border-radius: var(--border2);
  outline: none;

  color: var(--color-grey1);
  background-color: var(--color-brand1);
  font-size: var(--font-size125);
}
