.container-filters {
  display: flex;
  align-items: center;
  gap: 145px;
}

.filters-title {
  font-size: var(--font-size125);
}

.div-buttons {
  display: flex;
  gap: 20px;
}

.filters {
  height: 40px;
  padding: 0 20px;

  border: none;
  background-color: var(--color-grey2);
  color: var(--color-grey3);
  border-radius: var(--border2);

  font-size: var(--font-size100);
}

.filters-selected {
  background-color: var(--color-brand1);
  color: var(--color-grey1);
}
